@model App.Client.Infastructure.ViewModels.AdminVm.ResetUserPassword
@{
    ViewBag.Title = "Reset Password";
}
<div class="container-fluid">
    <div class="body-content">
        <div id="page">
            @Html.Partial("_Alert")
            <div class="well">
                <h4><b>Reset Password - @Model.Username</b></h4>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-group">
                            @Html.Label("New Password")
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group">
                            <hr />
                            <div class="pull-right">
                                <a href="@Url.Action("Index", "User")" class="btn btn btn-primary"><span class="fa fa-fw fa-lg fa-times"></span><span> Cancel</span></a>
                                <button type="submit" class="btn btn-success"><span class="fa fa-fw fa-save"></span> Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>