@using App.Client
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @AppConfig.AppName</title>
    @Styles.Render("~/css/app")
    @Styles.Render("~/css/chart")
    @Styles.Render("~/css/util")
</head>
<body>
@Html.Action("Header", "Layout")
<div id="alert-container"></div>
    @RenderBody()
@Html.Action("Footer", "Layout")
@Scripts.Render("~/script/jquery")
    @Scripts.Render("~/script/bootstrap")
    @Scripts.Render("~/script/util")
    @Scripts.Render("~/script/chart")
    @Scripts.Render("~/script/app")
    @RenderSection("scripts", required: false)
</body>
</html>
