@model App.Client.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container-fluid">
    <div class="body-content">
        <div id="page">
            @Html.Partial("_Alert")
            <div class="well">
                <h4><b>Change Password</b></h4>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.Label("Old Password")
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </div>
                        <div class="form-group">
                            @Html.Label("New Password")
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group">
                            @Html.Label("New Password Again")
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div class="form-group">
                            <hr />
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success"><span class="fa fa-fw fa-save"></span> Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>