@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Delete Role";
}
<div class="container-fluid">
    <div class="body-content">
        <div id="page">
            @Html.Partial("_Alert")
            <<div class="well">
                <h4><b>Delete Role - @Model.Name</b></h4>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    @using (Html.BeginForm("Delete", "Role", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.Label("Role Name")
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            <hr />
                            <div class="pull-right">
                                <a href="@Url.Action("Index", "User")" class="btn btn btn-primary"><span class="fa fa-fw fa-lg fa-times"></span><span> Cancel</span></a>
                                <button type="submit" class="btn btn-danger"><span class="fa fa-fw fa-save"></span> Delete</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
